
@import url('https://fonts.googleapis.com/css2?family=Lumanosimo&family=Open+Sans:ital,wght@1,300;1,700&display=swap');


:root{
    --color-body-background:#9935dccf;
    --color-body-text:#d6ddce;
    --color-body-content:#f9f6d6;
    --font-style:'Open Sans', sans-serif;
    --side-width:34vw;
    --color-body-change:yellow;

}

a{
    color:var(--color-body-text);
    /* text-decoration: none; */
    transition:all 0.5s ease;
    
}
a:hover{
    color:var(--color-body-change);
    transform:scale(1.1);
}

h1, h2, h3, h4, h5, h6 {
color:var(--color-body-change);
/* font-weight: bolder; */
font-family:var(--font-style);
}
body{
    
    background-color:var(--color-body-background);
}
.navbar{
    background-color: var(--color-body-background);
    opacity:inherit;
}
.height-para{
    min-height: 100vh;
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content:center;

}
.icon{
    transition:all 0.1s ease-in-out;
}
.icon:hover{
    transform:scale(1.2);
}

p{
    font-family: var(--font-style);
    font-weight: bold;
    color:var(--color-body-text);
}
.title-text{
    color:var(--color-body-change);
    transition:all 0.5s ease;

}
.title-text:hover{
    transform:scale(1.1);
}
.content-text{
    color:var(--color-body-content);
    transition:all 0.5s ease;

}
.content-text:hover{
    transform:scale(1.1);
}
.navbar .nav-link{
    font-weight:700;
    text-transform:uppercase;
    color:whitesmoke;
    font-family:var(--font-style);
}
.navbar .nav-link:hover{
    color:var(--color-body-change);
}
.about-text{
    font-family:var(--font-style);
    color:var(--color-body-text);
    border:#d6ddce 0.1rem solid ;
}
@media  only screen and (min-width: 990px){
    .navbar{
        min-height:100vh;
        background-color: var(--color-body-background);
        width:var(--side-width);
        background-image:linear-gradient(to top , hsla(146, 62%, 67%, 0.244),hsla(261, 40%, 49%, 0.482)),url("images/sidebar-img.jpg");
        background-size: cover;
        background-position: center;
    }
    .self{
        width:12rem;
        height:14rem;
        border-radius:50%;
        transition:all 0.1s ease-in-out;
       
    }
    .self:hover{
        transform:scale(1.01);
    }
    .navbar-brand img{
        border:0.2rem solid var(--color-body-change);
    }
    #content-wrapper{
        padding-left:var(--side-width);
    }
    
}
